html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0px;
    color: #4a4a4a;
    line-height: 1.4;
}

header {

}

nav.main_header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    ul {
        margin-top: 5px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;;

        div {
            display: flex;
            flex-direction: row;
            align-content: center;

            li {
                width: auto;
                margin-left: 35px;
                align-self: center;

                a {
                    text-decoration: none;
                    color: #6481af;
                }
            }

            li.main_navbar_logo {
                width: 180px;
                margin-left: 15px;
            }
        }

        div.main_navbar_leftside {
            margin-right: 250px;
        }

        div.main_navbar_rightside {
            // margin-left: 130px;

            li {
                width: auto;
            }
        }
    }
}