html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0px;
    color: #4a4a4a;
    line-height: 1.4;
}


/* ----- Index Header ----- */
header {
    margin-top: 20px;
}

nav.header_nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
}

li.header_nav_button a{
    text-decoration: none;
    color: #939393;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: .5px;
    transition: .5s;
}

li.header_nav_button a:hover{
    color:black;
}

nav.header_nav img {
    width: 60px;
}

nav ul li.header_nav_logo {
    margin-right: 600px;
}

li.header_nav_button {
    margin-left: 15px;
    margin-right: 15px;
}

header section.header_info {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 75px;
}

section.header_info div.header_info_text {
    width: 300px;
    text-align: start;
    margin-right: 50px;
}

header section.header_info img   {
    width: 600px;
    border-radius: 10px;
}

div.header_info_text h2 {
    font-size: 26px;
    letter-spacing: 1.2px;
}

div.header_info_text h4 {
    color: #666666;
    letter-spacing: .7px;
    font-weight: 500;
}

p.header_info_button a {
    text-decoration: none;
    background: #6DD345;
    padding: 20px 25px 20px 25px;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    letter-spacing: 1.5px;
    transition: 300ms;
}

p.header_info_button a:hover {
    background: rgb(149, 226, 118);
}

div p.header_info_button {
    margin-top: 50px;
    margin-bottom: 25px;
}

div p.header_info_free {
    font-size: 12px;
    letter-spacing: .7px;
}

header section.header_sponsors {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

section.header_sponsors img {
    width: 100px;
    height: 30px;
    margin-left: 40px;
    margin-right: 40px;
}